main#interface{
    max-width: 960px;
    width: 60%;
    align-items: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    
}

main header{
    padding: 2.8rem 5rem 3rem 5rem;
    background-color: #FFBED7;
    width: 100%;
}

header > h1{
    color: #fff;
    font-family: 'IBM Plex Serif', serif;
    font-weight: 700;
    font-size: 2.5rem;
    text-align: center;
}

form{
    width: 85%;
    margin-top: 20px;
    
}

form h2{
    font-size: 1.5rem;
    margin: 0 auto;
    letter-spacing: 3%;
}

form section{
    display: flex;
    justify-content: space-between;
}

form label{
    font-size: 1rem;
}

.nomeEspecie input{
    width: 35vw;
    height: 4vh;
    font-size: 1rem;
    margin-top: 3px;
}

form .fileContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form .fileContainer label img{
    width: 30%;
    display: block;
    margin: 0 auto;
}

form .fileContainer label {
    background-color: #FFBED7;
    padding: 3rem 0;
    border-radius: 7rem;
}

form .fileContainer input{
    display: none;
}

.fileContainer p{
    color: #C87092;
    font-weight: bolder;
    font-size: 0.8rem;
}

form p{
 font-size: 1rem;
}

form div:nth-child(3) input{ 
    width: 40vw;
    height: 4vh;
    font-size: 1rem;
    margin-top: 3px;
}

form div:nth-child(4) input{
    border-radius: 0;
    font-size: 0.8rem;
    border: none;
    height: 5vh;
    -webkit-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    margin-right: 10px;
    margin-top: 3px;
}

form div:nth-child(4) input:hover{
    background-color: #FFBED7;
}

form div.controle{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 40px;
}

form div.controle button{
    height: 3.5vh;
    font-size: 0.8rem;
    border-radius: 0;
}

form div.controle button:first-child{
    color: #FFBED7;
    border: solid 1px #FFBED7;
    font-weight: bolder;
    background-color: #fff;
    padding: 0 1.5rem;
}

form div.controle button:last-child{
    color: #fff;
    border: none;
    font-weight: bolder;
    background-color:  #FFBED7;
    margin-left: 20px;
    padding: 0 1rem;
}

form div select{
    width: 40vw;
    height: 4vh;
    font-size: 1rem;
    margin-top: 3px;
}

form div select option{
    font-size: 1rem;
}

.espacamento{
    margin-bottom: 20px;
}

.espacamento2{
    margin-bottom: 10px;
}

main .imagens img:first-child{
    position: relative;
    right: 178px;
    width: 313px;
    height: 214px;
}

main .imagens img:last-child{
    position: relative;
    left: 178px;
    width: 186.5px;
    height: 79.5px;
}