main#interface{
    max-width: 960px;
    width: 60%;
    align-items: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    
}

main header{
    padding: 2.8rem 5rem 3rem 5rem;
    background-color: #FFBED7;
    width: 100%;
}

header > h1{
    color: #fff;
    font-family: 'IBM Plex Serif', serif;
    font-weight: 700;
    font-size: 2.5rem;
    text-align: center;
}

form{
    width: 85%;
    margin-top: 20px;
    
}

form h2{
    font-size: 1.5rem;
    margin: 0 auto;
    letter-spacing: 3%;
}

form section{
    display: flex;
    justify-content: space-between;
}

form label{
    font-size: 1rem;

}

form input{
    width: 35vw;
    height: 4vh;
    font-size: 1rem;
    margin-top: 3px;
}
