@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    box-sizing: border-box;
    /* Tamanho da font padrão: 16px - 100% - 1rem*/
    font-size: 60%; /*Controle de medidas rem*/
    color: #494949;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.btnMes{
    width: 75%;
    height: 100%;
    border-radius: 0;
}

form div.controle{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 40px;
}

form div.controle button{
    height: 3.5vh;
    font-size: 0.8rem;
    border-radius: 0;
}

form div.controle button:first-child{
    color: #FFBED7;
    border: solid 1px #FFBED7;
    font-weight: bolder;
    background-color: #fff;
    padding: 0 1.5rem;
}

form div.controle button:last-child{
    color: #fff;
    border: none;
    font-weight: bolder;
    background-color:  #FFBED7;
    margin-left: 20px;
    padding: 0 1rem;
}

.espacamento{
    margin-bottom: 20px;
}

.espacamento2{
    margin-bottom: 10px;
}

main .imagens img:first-child{
    position: relative;
    right: 178px;
    width: 313px;
    height: 214px;
}

main .imagens img:last-child{
    position: relative;
    left: 178px;
    width: 186.5px;
    height: 79.5px;
}